<html>
<head>
    <title>Turn-based Strategy!</title>
    <link href="~/Style/General/ZeroStyle.css" rel="stylesheet" />
    <link href="~/Style/AllStyle.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/External/jquery-2.1.0.min.js"></script>

    <script src="~/Scripts/Enums/Vision.js"></script>
    <script src="~/Scripts/Enums/ProgressBar.js"></script>
    <script src="~/Scripts/Classes/ProgressBar.js"></script>

    <script src="~/Scripts/GameLogic.js"></script>
    <div id="container">
        <div id="side-bar">
            <div id="lbl-current-turn"></div>
            <input type="button" id="btn-end-turn" value="End turn"/>
        </div>
        <div id="game-area"></div>
    </div>
</body>
</html>